* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #404040;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

/* ==================
    general layout
===================== */

.main-grid {
  display: grid;
  grid-template-columns: minmax(0.5em, 1fr) minmax(0px, 500px) minmax(
      0.5em,
      1fr
    );
  grid-column-gap: 2em;
}

@media (min-width: 600px) {
  .main-grid {
    grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 320px)) minmax(
        1em,
        1fr
      );
  }
}
